<!DOCTYPE html>
<html>
    <head>
        <title>Page-Designer: App</title>
        {{> assets}}
    </head>
    <body>
        {{> header}}
        <div class="wrapper">
            <div class="layout">
                <div class="pd-sidebar  layout__item">
                    <h2>Templates Container:</h2>
                    <div class="js-templates-container"></div>
                </div>
                <div class="pd-page  js-page  layout__item"></div>
            </div>
        </div>
        {{> footer}}
    </body>
</html>