<!DOCTYPE html>
<html>
    <head>
        <title>Page-Designer: App</title>
        {{> assets}}
    </head>
    <body>
        {{> header}}
        <div class="wrapper">
            <ul class="layout">
                <li class="pd-sidebar  layout__item  u-1/5">
                    <h2>Templates Container:</h2>
                    <div class="js-templates-container"></div>
                </li>
                <li class="pd-page  js-page  layout__item  u-4/5"></li>
            </ul>
        </div>
        {{> footer}}
    </body>
</html>