<header class="page-head">
    <div class="wrapper">
        <nav class="site-nav">
            <a href="/" class="site-nav__home">
                logo
            </a>
            <ul class="site-nav__list">
                <li class="site-nav__item"><a href="/about/" class="site-nav__link  site-nav__about">About</a></li>
                <li class="site-nav__item"><a href="/editor/" class="site-nav__link  site-nav__case-studies">Page Editor</a></li>
            </ul>
        </nav>
    </div>
</header>